[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
csv = "*"
re = "*"
os = "*"
shutil = "*"
pynetbox = "*"
requests = "*"

[requires]
python_version = "3.8"
